@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
body {
  margin-top: 137px;
  font-family: "Cairo";
}

.overlay {
  background-image: url(./../images/turkey9.jpg);
  background-size: cover;
  background-position: center center;
}

header {
  background: linear-gradient(to left, rgba(255, 169, 241, 0.8) 0%, rgba(148, 140, 140, 0.8) 100%);
  height: 100vh;
}

header .container .row-description {
  padding-top: 50px;
}

header .btn-custom {
  border: 2px solid gray;
  border-radius: 3px;
  font-size: 18px;
}
header .btn-custom:hover, header .btn-custom:focus, header .btn-custom:active, header .btn-custom:active:focus, header .btn-custom:active:hover {
  background-color: darkslategrey;
  color: white;
}

.navbar .navbar-brand img {
  width: 100px;
  margin-top: 10px;
}

.navbar {
  border-bottom: 3px solid #EEF0EA;
  width: 100%;
  background: linear-gradient(45deg, black, transparent);
  border-bottom: 1px solid rgba(225, 225, 225, 0.5);
}

.navbar .container {
  padding: 0;
}
.navbar .container h1.title {
  color: white;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: 50%/100% 100% no-repeat;
  color: white;
}

.navbar ul.navbar-nav {
  margin: auto;
}
.navbar ul.navbar-nav li a.nav-link {
  color: white;
  font-size: 18px;
  line-height: 40px;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  transition: all 0.5s ease;
  text-shadow: 0.4s;
  cursor: pointer;
}
.navbar ul.navbar-nav li:hover a.nav-link {
  background: rgba(255, 255, 255, 0.3);
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.navbar ul.navbar-nav li.active a.nav-link {
  color: lightpink;
  border-bottom: 1px solid lightpink;
  font-weight: 700;
}

nav.navbar.noTransparrent {
  background: linear-gradient(45deg, black, #febaf3);
}

/* nav.navbar.noTransparrent ul.navbar-nav li a.nav-link:hover,
nav.navbar.noTransparrent ul.navbar-nav li a.nav-link.active {
    color: #dea413;
    background-color: #16aeca;
} */
.container p.description {
  padding: 10px;
  font-size: 24px;
  color: white;
  font-weight: 700;
  line-height: 50px;
}

h1.title {
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  line-height: 80px;
  color: black;
}

.title-icon {
  right: 20px;
  position: relative;
  top: 32px;
}

#our-services {
  padding: 100px 0;
}
#our-services .media {
  margin-bottom: 20px;
  padding: 40px 10px;
  border: 4px solid #ececec;
  height: 210px;
}
#our-services .media-body {
  margin-right: 18px;
}
#our-services .media-body h5 {
  font-size: 24px;
  color: #5a5a58;
  margin-right: 18px;
}
#our-services .media-body p {
  color: gray;
  font-size: 15px;
  line-height: 25px;
}

#our-services .media .icon {
  color: #2196f3;
}

#tours {
  padding: 100px 0;
}

#tours .container .card .card-body h5.card-title {
  font-size: 24px;
  font-weight: 700;
  color: cornflowerblue;
}
#tours .container .card .card-body h5.card-title span.price {
  color: salmon;
}
#tours .container .card .card-body .card-text {
  font-size: 18px;
}

#contact {
  padding: 100px 0;
  padding-bottom: 0;
}

#contact .info ul li {
  font-size: 18px;
  line-height: 25px;
  color: #16aeca;
  margin-bottom: 15px;
}

#contact .form form input,
textarea {
  background-color: #f7f7f7;
  border: 2px solid #eee;
  border-radius: 3px;
  color: #5c5c5c;
  font-family: ar-font;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
}

#contact .cmxform {
  width: 60%;
  margin: 0 auto 50px;
}

#contact .form button {
  margin-right: 15px;
}

#contact .map {
  margin-bottom: 40px;
}

footer .top-footer {
  background-color: #171717;
  padding: 75px 0;
  text-align: right;
}
footer .top-footer h3 {
  font-size: 18px;
  line-height: 45px;
  color: #85ecff;
  margin-bottom: 30px;
  position: relative;
  border-bottom: 2px solid;
}

footer .top-footer ul {
  padding: 0;
}

footer .top-footer ul.social li {
  margin-right: 5px;
}
footer .top-footer ul.social li a svg {
  padding: 4px;
  border-radius: 2px;
  background-color: #333333;
  color: white;
  transition: all 0.5s ease;
}

footer .top-footer .social li a.facebook:hover svg {
  background-color: #3b5999;
  transform: translateY(-10%);
}

footer .top-footer ul.social li a.instagram:hover svg {
  background-color: #dc2743;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  transform: translateY(-10%);
}

footer .top-footer ul.social li a.google:hover svg {
  background-color: #DD4B39;
  transform: translateY(-10%);
}

footer .top-footer ul.social li a.twitter:hover svg {
  background-color: #1DA1F2;
  transform: translateY(-10%);
}

footer .top-footer ul.social li a.linkedin:hover svg {
  background-color: #2867B2;
  transform: translateY(-10%);
}

footer .top-footer ul.contact-us li {
  margin-bottom: 35px;
  font-size: 18px;
  color: #676767;
}
footer .top-footer ul.contact-us li:last-of-type {
  margin-bottom: 0;
}
footer .top-footer ul.contact-us li i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 2px;
  background-color: #333333;
  color: #acacac;
  margin-left: 20px;
}

footer .copyright {
  background-color: #111111;
}
footer .copyright p {
  font-size: 15px;
  line-height: 78px;
  color: #919191;
  margin-top: 0;
  margin-bottom: 0rem;
}

/**********************************
***********************************
***********************************
**********Tour-pages**************
***********************************
***********************************/
#first-tour,
.second-tour {
  padding: 100px 0;
}

.heading {
  font-weight: 700;
  color: lightseagreen;
  border-bottom: 2px solid;
  line-height: 70px;
  margin-bottom: 30px;
}

.desc {
  line-height: 40px;
  font-size: 20px;
  color: darkslategrey;
}

#second-tour .list {
  margin-top: 30px;
  margin-bottom: 2rem;
}
#second-tour .list .list-item {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
}

#second-tour .button #btn {
  margin: 30px 0 40px;
}

#second-tour .list .list-item span.beginning-title {
  color: crimson;
}

.carousel {
  width: 70%;
  margin: auto;
}

/*Tour-1*/
.tour1 {
  background: lightcyan;
}

/*Tour-2*/
.tour2 {
  background: lightyellow;
}

/**********************************
***********************************
***********************************
**********Sign-in**************
***********************************
***********************************/
body.sign-in {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to right, #3f5efb, #fc466b);
}

.container-sign-in {
  position: absolute;
  top: 63%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

form.form-sign-in {
  background: rgba(255, 255, 255, 0.06);
  padding: 3em;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: right;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 500px;
  height: 500px;
  right: 250px;
}

form.form-sign-in p {
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

form.form-sign-in a {
  text-decoration: none;
  color: #ddd;
  font-size: 15px;
  margin-right: 20px;
}

form.form-sign-in a:hover {
  text-shadow: 2px 2px 6px #00000040;
}

form.form-sign-in a:active {
  text-shadow: none;
}

form.form-sign-in input {
  background: transparent;
  width: 375px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5000px;
}

form.form-sign-in input:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

form.form-sign-in input[type=email]:focus,
form.form-sign-in input[type=password]:focus {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

form.form-sign-in input[type=button] {
  margin-top: 10px;
  width: 150px;
  font-size: 1rem;
}

form.form-sign-in input[type=email],
form.form-sign-in input[type=password] {
  text-align: right;
}

form.form-sign-in input[type=button]:hover {
  cursor: pointer;
}

form.form-sign-in:hover {
  margin: 4px;
}

.container-sign-in ::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.container-sign-in ::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.container-sign-in a,
input:focus,
button:focus,
select:focus {
  outline: none;
}

.drop {
  background: rgba(255, 255, 255, 0.06);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.drop-1 {
  height: 80px;
  width: 80px;
  top: -20px;
  left: 345px;
  z-index: -1;
}

.drop-2 {
  height: 80px;
  width: 80px;
  bottom: -30px;
  right: 220px;
}

.drop-3 {
  height: 100px;
  width: 100px;
  bottom: 120px;
  right: 220px;
  z-index: -1;
}

.drop-4 {
  height: 100px;
  width: 100px;
  top: -60px;
  right: 220px;
}

.drop-5 {
  height: 60px;
  width: 60px;
  bottom: 170px;
  left: 530px;
  z-index: -1;
}

@media (min-width: 335px) and (max-width: 992px) {
  form.form-sign-in {
    padding: 3em;
    height: 475px;
    top: 25px;
    right: 0;
    width: 100%;
  }

  form.form-sign-in a {
    text-decoration: none;
    color: #ddd;
    font-size: 13px;
    margin-right: 20px;
  }

  form.form-sign-in input {
    width: 100%;
  }

  .drop-1 {
    height: 80px;
    width: 80px;
    top: 0px;
    left: 5px;
    z-index: -1;
  }

  .drop-2 {
    height: 50px;
    width: 50px;
    bottom: -38px;
    right: 5px;
  }

  .drop-3 {
    display: none;
  }

  .drop-4 {
    height: 50px;
    width: 50px;
    top: 0px;
    right: 5px;
  }

  .drop-5 {
    display: none;
  }
}
@media (min-width: 993px) and (max-width: 1251px) {
  form.form-sign-in {
    width: 500px;
    height: 470px;
    right: 250px;
  }

  .container-sign-in {
    top: 67%;
  }

  .drop-1 {
    height: 80px;
    width: 80px;
    top: -20px;
    left: 345px;
    z-index: -1;
    display: none;
  }

  .drop-2 {
    height: 80px;
    width: 80px;
    bottom: -6px;
    right: 220px;
  }

  .drop-3 {
    height: 100px;
    width: 100px;
    bottom: 215px;
    right: 220px;
    z-index: -1;
  }

  .drop-4 {
    height: 80px;
    width: 80px;
    top: -20px;
    right: 220px;
  }
}
/**********************************
***********************************
***********************************
**********Sign-up**************
***********************************
***********************************/
#sign-up-page {
  background: linear-gradient(to left, rgba(111, 0, 255, 0.8) 0%, rgba(223, 212, 212, 0.8) 100%);
}

.heading2 {
  border-bottom: 2px solid;
  color: white;
  margin: 50px auto;
}

#sign-up {
  width: 60%;
  margin: auto;
  padding: 0;
}
#sign-up .form-control {
  text-align: right;
}
#sign-up label {
  color: white;
}
#sign-up button {
  margin-left: 20px;
}
#sign-up a {
  text-decoration: none;
  color: white;
}
#sign-up a:hover {
  color: silver;
}

/**********************************
***********************************
***********************************
**********Media Query**************
***********************************
***********************************/
@media (max-width: 992px) {
  #our-services .media {
    height: 330px;
  }

  #tours .container .card .card-body h5.card-title {
    font-size: 16px;
    font-weight: 800;
  }

  #tours .container .card .card-body .card-text {
    font-size: 16px;
  }

  #contact .map-frame {
    width: 450px !important;
  }

  #contact .cmxform {
    width: 100%;
  }

  .navbar {
    background: linear-gradient(45deg, black, #febaf3);
  }

  .carousel {
    width: 90%;
    margin: auto;
  }

  /*sign-in*/
}
@media (min-width: 768px) and (max-width: 991px) {
  #contact .map-frame {
    width: 360px !important;
  }

  .navbar {
    background: linear-gradient(45deg, black, #febaf3);
  }
}
@media (max-width: 767px) {
  #our-services .media {
    height: 250px;
  }

  #tours .container .card {
    margin-bottom: 45px;
  }

  .navbar {
    background: linear-gradient(45deg, black, #febaf3);
  }

  .carousel {
    width: 90%;
    margin: auto;
  }

  /*sign-in*/
}
@media (min-width: 330px) and (max-width: 576px) {
  #contact .map-frame {
    width: 300px !important;
  }

  #our-services .media-body p {
    font-size: 14px;
    line-height: 23px;
  }

  #our-services .media .icon {
    color: #2196f3;
    font-size: 5em;
  }

  #our-services .media-body h5 {
    font-size: 18px;
    margin-right: 0px;
    font-weight: 700;
  }

  h1.title {
    font-size: 35px;
  }

  .navbar {
    background: linear-gradient(45deg, black, #febaf3);
  }

  /* tour-page*/
  .heading {
    font-size: 23px;
  }

  .desc {
    font-size: 15px;
    line-height: 40px;
  }

  #second-tour .list .list-item {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 40px;
  }

  .carousel {
    width: 90%;
    margin: auto;
  }

  /* sign-up*/
  #sign-up {
    width: 90%;
    margin: auto;
    padding: 0;
  }

  /*sign-in*/
}

/*# sourceMappingURL=custom.css.map */
