$white:white;
$gray:gray;
$black:black;
$lightseagreen:lightseagreen;
$darkslategrey:darkslategrey;
$lightpink:lightpink;
$salmon:salmon;
$cornflowerblue:cornflowerblue;
$lightcyan:lightcyan;
$lightyellow:lightyellow;
$sign-up:linear-gradient(to left, rgba(111, 0, 255, 0.8) 0%, rgba(223, 212, 212, 0.8) 100%);
$sign-in:linear-gradient(to right, #3f5efb, #fc466b);